In [1]:
print("Hello, World!")

Hello, World!

In [3]:
#Python Version
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [13]:
#Python Indentation
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [19]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [23]:
#Python variables
x = 5
y = "Hello, World!"

In [11]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [25]:
print("Hello, World!") #This is a comment

Hello, World!

In [27]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [29]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [31]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [33]:
#Creating Variables
x = 5
y = "John"
print(x)
print(y)

5
John

In [35]:
 x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [37]:
#casting
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [39]:
#get the type
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [41]:
#single/double quotes
x = "John"
# is the same as
x = 'John'

In [43]:
#Case-sensitive
a = 4
A = "Sally"
#A will not overwrite a

In [45]:
#variable names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [49]:
#many values 
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [51]:
#one value
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [53]:
#unpack a collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
#output variables
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

In [ ]:

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

In [ ]:
x = 5
y = 10
print(x + y)

In [ ]:
x = 5
y = "John"
print(x + y)

In [ ]:
x = 5
y = "John"
print(x, y)

In [ ]:
#global variables
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

In [ ]:
#global keyword
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

In [59]:
#getting the data type
x = 5
print(type(x))

<class 'int'>

In [ ]:
#string
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#integer
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#list
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#range
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#frozenset
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#pythin numbers
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [ ]:
print(type(x))
print(type(y))
print(type(z))

In [ ]:
#int
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

In [ ]:
#float
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

In [ ]:
#type conversation
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

In [ ]:
#random nubmer
import random

print(random.randrange(1, 10))

In [ ]:
#specifying the variable type
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [ ]:
#strings
print("Hello")
print('Hello')

In [5]:
#quotes
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [ ]:
#string to variable
a = "Hello"
print(a)

In [ ]:
#multiline
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

In [ ]:
#string ar arrays
a = "Hello, World!"
print(a[1])

In [ ]:
#looping 
for x in "banana":
  print(x)

In [ ]:
#string lenght
a = "Hello, World!"
print(len(a))

In [ ]:
#check string
txt = "The best things in life are free!"
print("free" in txt)

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

In [ ]:
#check if not
txt = "The best things in life are free!"
print("expensive" not in txt)

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

In [ ]:
#slicing
b = "Hello, World!"
print(b[2:5])

In [ ]:
#from the start
b = "Hello, World!"
print(b[:5])

In [ ]:
#to the end
b = "Hello, World!"
print(b[2:])

In [ ]:
#negative indexing
b = "Hello, World!"
print(b[-5:-2])

In [ ]:
a = "Hello, World!"
print(a.upper())

In [ ]:
a = "Hello, World!"
print(a.lower())

In [ ]:
#removing whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

In [ ]:
#Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

In [ ]:
#string format
age = 36
txt = "My name is John, I am " + age
print(txt)

In [ ]:
#f-strings
age = 36
txt = f"My name is John, I am {age}"
print(txt)

In [ ]:
#Placeholders and Modifiers
price = 59
txt = f"The price is {price} dollars"
print(txt)

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

In [ ]:
#escape character
txt = "We are the so-called "Vikings" from the north."

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

In [ ]:
#string methods
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

In [ ]:
txt = "hello world!"

x = txt.islower()

print(x)

In [ ]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

In [ ]:
txt = "Hello my friends"

x = txt.upper()

print(x)